@import "../variables/globalVariables.scss";


.hero-section{
    .hero-container{
        .title{
            font-family: 'Poppins', sans-serif;
            font-size: 3rem;
            font-weight: 600;
            margin-bottom: 2rem;
        }

        .info-text{
            font-family: 'Barlow', sans-serif;
            color: $text-grey-color;
            margin-bottom: 2rem;
            letter-spacing: 0.5px;

        }

        .info-text p:not(:last-child){
            margin-bottom: 1rem;
        }

        .social-icons{
            display: flex;

            span:not(:last-child){
                margin-right: 1rem;
            }
        }
    }
}

@media screen and (min-width: 1280px) {
    
}

@media screen and (min-width: 767px) and (max-width: 1279px) {
    
}

@media screen and (max-width: 766px) {
    .social-icons{
        .linkedin{
            display: none;
        }
    }
}