@import "../variables/globalVariables.scss";


.hero-section{
    .hero-container{
        .hr-title{
            font-size: 3rem;
            margin-bottom: 2rem;
        }

        .info-text p:not(:last-child){
            margin-bottom: 1rem;
        }

        .social-icons{
            display: flex;

            span:not(:last-child){
                margin-right: 1rem;
            }
        }
    }
}

@media screen and (min-width: 1280px) {
    
}

@media screen and (min-width: 767px) and (max-width: 1279px) {
    
}

@media screen and (max-width: 766px) {
    .social-icons{
        .linkedin{
            display: none;
        }
    }
}