@import "../variables/globalVariables.scss";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.section{
    @include sectionStyles
}

.info-above-title{
    @include infoAboveTitleStyles
}

.title{
    @include titleStyles
}

.info-text{
    @include infoTextStyles
}

.button{
    @include buttonStyles
}