@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;400;600;800&family=Poppins:wght@200;400;600;800&display=swap');
@import "../variables/globalVariables.scss";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.section{
    @include sectionStyles
}

.info-above-title{
    @include infoAboveTitleStyles
}

.title{
    @include titleStyles
}