@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;400;600;800&family=Poppins:wght@200;400;600;800&display=swap');
@import "../variables/globalVariables.scss";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// Intro Banner Styles
.intro-banner{
    position: relative;
    max-width: 1200px;
    height: 350px;
    margin: 0 auto;
    display: flex;

    .slider-wrapper{
        width: 100%;
        height: 100%;
        position: relative;

        .slider-container{
            width: 100%;
            height: 100%;
            flex: 1;
            position: absolute;
            overflow: hidden;
            opacity: 0;
            pointer-events: none;
            transform: scale(0.8);
            transition: 0.5s ease-in-out;

    
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .slider-container-active{
            opacity: 1;
            transform: scale(1);
            pointer-events: visible;
        }
    }

    .pagination{
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);

        .pagi-dot{
            font-size: 1rem;
            cursor: pointer;
            color: #fff;
        }
    }

}

// Hero Element Styles
.hero-section{
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 4rem;

    .hero-container{
        .title{
            font-family: 'Poppins', sans-serif;
            font-size: 3rem;
            font-weight: 600;
            margin-bottom: 2rem;
        }

        .date{
            font-family: 'Poppins', sans-serif;
            text-transform: uppercase;
            color: $text-grey-color;
            letter-spacing: 1px;
            font-weight: 600;
        }

        .info-text{
            font-family: 'Barlow', sans-serif;
            color: $text-grey-color;
            margin-bottom: 2rem;
            letter-spacing: 0.5px;

        }

        .info-text p:not(:last-child){
            margin-bottom: 1rem;
        }

        .social-icons{
            display: flex;

            span:not(:last-child){
                margin-right: 1rem;
            }
        }
    }
}

// Service Jobs Styles
.service-jobs{
    max-width: 1200px;
    background-color: $grey-bg-color;
    margin: 0 auto;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;

    .container{
        width: 50%;

        .above-title{
            font-family: 'Poppins', sans-serif;
            text-transform: uppercase;
            color: $text-grey-color;
            letter-spacing: 1px;
            font-weight: 600;
        }

        .title{
            font-family: 'Poppins', sans-serif;
            font-size: 2rem;
            font-weight: 600;
            margin-bottom: 1.5rem;
        }

        .info-text{
            font-family: 'Barlow', sans-serif;
            color: $text-grey-color;
            margin-bottom: 2.5rem;
            
        }

        button{
            width: 130px;
            height: 50px;
            border: 1px solid $text-grey-color;
            color: $text-grey-color;
            cursor: pointer;
            background-color: transparent;
        }
    }

    .container:not(:last-child){
        margin-right: 4rem;
    }
}

// Newsletter Banner Styles
.newsletter-banner{
    max-width: 1200px;
    margin: 0 auto;
    background-image: linear-gradient(to right, $lighter-green, $darker-green);
    padding: 2rem 4rem;
    text-align: center;
    color: #fff;

    .above-title{
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 600;
    }

    .title{
        font-family: 'Poppins', sans-serif;
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
    }

    .info-text{
        font-family: 'Barlow', sans-serif;
        letter-spacing: 0.5px;
        margin-bottom: 1.5rem;
        letter-spacing: 0.5px;
        
    }

    button{
        width: 180px;
        height: 50px;
        border: 1px solid $text-grey-color;
        cursor: pointer;
        background-color: transparent;
        color: #fff;
        border: 1px solid #fff;

    }
}

// Contact Form Styles
.contact-form{
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 4rem;
    text-align: center;
    background-color: $grey-bg-color;
    

    .above-title{
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        color: $text-grey-color;
        letter-spacing: 1px;
        font-weight: 600;
    }

    .title{
        font-family: 'Poppins', sans-serif;
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 2rem;
    }

    .form .form-field:not(:last-child){
        margin-bottom: 2rem;
    }

    .form{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Poppins', sans-serif;

        .form-field{
            display: flex;
            flex-direction: column;
            align-items: start;
            width: 300px;

            label{
                margin-bottom: 0.3rem;
            }

            input{
                width: 100%;
                padding: 0.8rem;
                border: 1px solid $text-grey-color;
                color: $text-grey-color;
                border: none;
            }

            input::placeholder{
                font-style: italic;
                opacity: 0.5;
            }

            input:focus{
                outline: 1px solid $darker-green;
            }
        }

        button{
            width: 300px;
            height: 50px;
            border: 1px solid $text-grey-color;
            color: $text-grey-color;
            cursor: pointer;
            background-color: transparent;
        }
    }
}

// Footer Styles
.footer{
    width: 100%;
    padding: 2rem 4rem;
    border-top: 0.5px solid $text-grey-color;
    font-family: 'Barlow', sans-serif;
    color: $text-grey-color;

    .footer-container{
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .company-info{
            display: flex;
        }

        .company-info div:not(:last-child){
            margin-right: 3rem;
        }

        .impressum-agb div{
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        .impressum-agb div p:not(:last-child){
            margin-right: 2rem;
        }

        .mobile-social-icons{
            display: none;
        }

        .mobile-social-icons span:first-child{
            margin-right: 1rem;
        }
    }
}


@media screen and (min-width: 1280px) {
    
}

@media screen and (min-width: 767px) and (max-width: 1279px) {
    
}

@media screen and (max-width: 766px) {
    // Navbar Styles
    .navbar{
        .menu-sidebar{
            width: 100%;

            .menu-items{
                text-align: center;
            }
        }
    }

    // Hero Section
    .hero-section{
        padding: 2rem;

        .social-icons{
            .linkedin{
                display: none;
            }
        }
    }

    // Service Jobs Styles
    .service-jobs{
        padding: 2rem;
        flex-direction: column;

        .container{
            width: 100%;
        }

        .container:not(:last-child){
            margin-right: 0;
            margin-bottom: 3rem;
        }
    }

    // Newsletter Banner Styles
    .newsletter-banner{
        padding: 2rem;
    }

    // Contact Form Styles
    .contact-form{
        padding: 2rem;

        .form{
            .form-field{
                width: 100%;

                input{
                    width: 100%;
                }
            }

            button{
                width: 100%;
            }
        }
    }

    // Footer Styles
    .footer{
        padding: 2rem;

        .footer-container{
            display: flex;
            flex-direction: column;

            .company-info{
                display: flex;
                flex-direction: column;
                text-align: center;
                margin-bottom: 2rem;
            }

            .company-info div:not(:last-child){
                margin-right: 0;
                margin-bottom: 1rem;
            }

            .mobile-social-icons{
                display: flex;
                margin-bottom: 2rem;
            }
    
            .mobile-social-icons span:first-child{
                margin-right: 1rem;
            }

            .impressum-agb{
                display: flex;
                flex-direction: column;
                text-align: center;
            }

            .impressum-agb div{
                margin-bottom: 1rem;
                justify-content: center;
            }
        }
    }
}