@import "../variables/globalVariables.scss";

.newsletter-banner{
    max-width: 1200px;
    margin: 0 auto;
    background-image: linear-gradient(to right, $lighter-green, $darker-green);
    padding: 2rem 4rem;
    text-align: center;
    color: #fff;

    .above-title{
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 600;
    }

    .title{
        font-family: 'Poppins', sans-serif;
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
    }

    .info-text{
        font-family: 'Barlow', sans-serif;
        letter-spacing: 0.5px;
        margin-bottom: 1.5rem;
        letter-spacing: 0.5px;
        
    }

    button{
        width: 180px;
        height: 50px;
        border: 1px solid $text-grey-color;
        cursor: pointer;
        background-color: transparent;
        color: #fff;
        border: 1px solid #fff;

    }
}

@media screen and (min-width: 1280px) {
    
}

@media screen and (min-width: 767px) and (max-width: 1279px) {
    
}

@media screen and (max-width: 766px) {
    .newsletter-banner{
        padding: 2rem;
    }
}