@import "../variables/globalVariables.scss";

.service-jobs-section{
    background-color: $grey-bg-color;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .container{
        width: 50%;

        
    }

    .container:not(:last-child){
        margin-right: 4rem;
    }
}

@media screen and (min-width: 1280px) {
    
}

@media screen and (min-width: 767px) and (max-width: 1279px) {
    
}

@media screen and (max-width: 766px) {
    .service-jobs-section{
        flex-direction: column;

        .container{
            width: 100%;
        }

        .container:not(:last-child){
            margin-right: 0;
            margin-bottom: 3rem;
        }
    }
}