@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;400;600;800&family=Poppins:wght@200;400;600;800&display=swap');
@import "../styles/variables/globalVariables.scss";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// Navbar Styles
.navbar{
    padding: 1rem;
    position: relative;
    font-family: 'Poppins', sans-serif;

    .menu-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;    
    }

    .menu-icon span{
        font-size: 2rem;
        opacity: 0.5;
        transition: 0.3s ease;
    }

    .menu-icon span:hover{
        opacity: 1;
    }

    .navbar-container{
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .company-logo{
            width: 100px;
            height: 50px;

            img{
                width: 100%;
                height: 100%;
            }
        }
    }

    .menu-sidebar{
        position: absolute;
        top: 0;
        right: 0;
        width: 500px;
        height: 100vh;
        background-color: #fff;
        padding: 4rem;
        box-shadow: 0 0 15px rgba(0,0,0,0.1);

        .menu-items li{
            list-style: none;
            font-size: 2rem;
        }

        .menu-items li:not(:last-child){
            margin-bottom: 2rem;
        }

        .menu-icon{
            position: absolute;
            top: 1rem;
            right: 1rem;
            cursor: pointer;
        }
    }
}

// Intro Banner Styles
.intro-banner{
    max-width: 1200px;
    margin: 0 auto;

    .intro-banner-container{
        width: 100%;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

// Hero Element Styles
.hero-section{
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem 0;

    .hero-container{
        .title{
            font-family: 'Poppins', sans-serif;
            font-size: 3rem;
            font-weight: 600;
            margin-bottom: 2rem;
        }

        .date{
            font-family: 'Poppins', sans-serif;
            text-transform: uppercase;
            color: $text-grey-color;
        }

        .info-text{
            font-family: 'Barlow', sans-serif;
            color: $text-grey-color;
            margin-bottom: 2rem;
        }

        .info-text p:not(:last-child){
            margin-bottom: 1rem;
        }

        .social-icons{
            display: flex;

            span:not(:last-child){
                margin-right: 1rem;
            }
        }
    }
}


@media screen and (max-width: 1280px){
    
}

@media screen and (max-width: 320px){
    // Navbar Styles
    .navbar{
        .menu-sidebar{
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100vh;
            background-color: #fff;
            padding: 4rem;
            box-shadow: 0 0 15px rgba(0,0,0,0.1);

            .menu-items{
                text-align: center;
            }
        }
    }

    // Intro Banner Styles
    .intro-banner{
        .intro-banner-container{
            padding: 0 1rem;
            height: 300px;
        }
    }
}