/*Colors*/
$text-grey-color: rgba(45, 45, 45, 0.5);
$grey-bg-color: rgb(243, 243, 243);
$lighter-green: #9bcc3e;
$darker-green: #5fbe30;


/*Reusbale Styles*/
//create reusable styles for the little text above the title, for the title, the text and the button inside each component
// less repeated styles

@mixin sectionStyles {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 4rem;

    @media screen and (max-width: 766px) {
        padding: 2rem;
    }
}

@mixin infoAboveTitleStyles {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: $text-grey-color;
    letter-spacing: 1px;
    font-weight: 600;
}

@mixin titleStyles{
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

@mixin infoText{
    font-family: 'Barlow', sans-serif;
    color: $text-grey-color;
    margin-bottom: 2rem;
    letter-spacing: 0.5px;
}

