/*Colors*/
$text-grey-color: rgba(45, 45, 45, 0.5);
$grey-bg-color: rgb(243, 243, 243);
$lighter-green: #9bcc3e;
$darker-green: #5fbe30;


/*Reusbale Styles*/
//create reusable styles for the little text above the title, for the title, the text and the button inside each component
// assets folder in public folder
// seperate stylesheets for every component
// less repeated styles