@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;400;600;800&family=Poppins:wght@200;400;600;800&display=swap');

/*Colors*/
$text-grey-color: rgba(45, 45, 45, 0.5);
$grey-bg-color: rgb(243, 243, 243);
$lighter-green: #9bcc3e;
$darker-green: #5fbe30;


/*Reusbale Styles*/
@mixin sectionStyles {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 4rem;

    @media screen and (max-width: 766px) {
        padding: 2rem;
    }
}

@mixin infoAboveTitleStyles {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: $text-grey-color;
    letter-spacing: 1px;
    font-weight: 600;
}

@mixin titleStyles{
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

@mixin infoTextStyles{
    font-family: 'Barlow', sans-serif;
    color: $text-grey-color;
    margin-bottom: 2rem;
    letter-spacing: 0.5px;
}

@mixin buttonStyles{
    display: inline-block;
    background: transparent;
    color: $text-grey-color;
    border: 1px solid $text-grey-color;
    cursor: pointer;
    padding: 14px 30px;
    margin: 0;
    text-decoration: none;
    border-radius: 0;
    font-size: .9375rem;
}

